form {
  input[type="text"],
  input[type="search"] {
    font-family: inherit;
    background: transparent;
    color: map-get($txt-colors, primary);
    outline: none;
    border: none;
    width: 25%;
    font-size: 1.2rem;
    border-bottom: 1px solid map-get($txt-colors, secondary);
    padding-bottom: 0.4rem;

    &:focus {
      border-bottom-color: map-get($txt-colors, primary);
    }
  }
}
img,iframe{max-width:100%;}
